* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
}
#container {
    width: 90%;
    height: 90%;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

h1 {
    order: 0;
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 5rem;
}

#result {
    width: 30%;
    height: 100%;
    background-color: #ede9e3;
    padding: 0.5rem;

}

#playArea{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#computer {
    display: flex;
    align-items: center;
}

#player {
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}

#player > div {
    padding: 0.5rem;
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#player > div > img{
    height: 80%;
    width: 40%;
}

#player > #button {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 800px) {
    #player {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    #result {
        width: 40%;
    }

    #playArea{
        width: 60%;
    }
    #player {
        width: 50%;
    }
    #player > div > img{
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    #container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0.5rem;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #result {
        width: 98%;
        height: 20%;
        order: 10;
    }

    #playArea{
        width: 98%;
        height: 80%;
    }
    #player {
        width: 50%;
    }
    #player > div > img{
        width: 50%;
    }
}